<header class="site-header">

    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <nav>
            <a href="{{ site.baseurl }}/">Episodes</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/contact">Contact</a>
          </nav>
        </header>
      </div>
    </div>
  <div class="wrapper">

</header>
