//The main SCSS file for everything, yep

@import 'partials/reset';
@import 'partials/variables';
@import 'partials/temp';
//@import 'patrials/main';
//@import 'patrials/base';
//@import 'patrials/layout';
//@import 'patrials/syntax-highlighting';
@import 'partials/highlights';
@import 'partials/svg-icons';
@import 'partials/contact';
@import 'partials/youtube';
