<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://rawgit.com/mholt/PapaParse/master/papaparse.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div id="sxForecast">S X Forecast</div>
<div id="threeForecast">3 Forecast</div>
<div id="overallChart">Overall</div>

<script>

// 3
$.get('/data/3_projections_20180815.csv', function(data) {

		//parse csv
		var csv = Papa.parse(data);
		console.log(csv);

    options = {
        chart: {
						renderTo: 'threeForecast',
						type: 'column'
        },
        data: {
					rows: csv.data,
					seriesMapping: [{
							 x: 0, // X values are pulled from column 0 by default
							 y: 1 // Y values are pulled from column 1 by default
							// name: 2,
							// label: 3 // Labels are pulled from column 2 and picked up in the dataLabels.format below
					}]
        },
        title: {
            text: 'Model 3 Forecast'
        },
        yAxis: {
            title: {
                text: 'Deliveries'
            }
        },
				xAxis: {
					title: {
						text: 'Quarter'
					}
				},
				plotOptions: {
            series: {
								// name: '{point.name}',
                // dataLabels: {
								// 		// rotation: 100,
								// 		align: 'left',
                //     enabled: true,
                //     format: '{point.label}'
                // }
            }
        }
    };

		// Create the chart
		var chart = new Highcharts.Chart(options);

});

//s x
$.get('/data/sx_projections_20180815.csv', function(data) {

		//parse csv
		var csv = Papa.parse(data);
		console.log(csv);

    options = {
        chart: {
						renderTo: 'sxForecast',
						type: 'column'
        },
        data: {
					rows: csv.data,
					seriesMapping: [{
							 x: 0, // X values are pulled from column 0 by default
							 y: 1 // Y values are pulled from column 1 by default
							// name: 2,
							// label: 3 // Labels are pulled from column 2 and picked up in the dataLabels.format below
					}]
        },
        title: {
            text: 'Projected S & X Deliveries'
        },
        yAxis: {
            title: {
                text: 'Deliveries'
            }
        },
				xAxis: {
					title: {
						text: 'Quarter'
					}
				},
				plotOptions: {
            series: {
								// name: '{point.name}',
                // dataLabels: {
								// 		// rotation: 100,
								// 		align: 'left',
                //     enabled: true,
                //     format: '{point.label}'
                // }
            }
        }
    };

		// Create the chart
		var chart = new Highcharts.Chart(options);

});

//overall
$.get('/data/overall_projections_20180815.csv', function(data) {

		//parse csv
		var csv = Papa.parse(data);
		console.log(csv);

    options = {
        chart: {
						renderTo: 'overallChart',
						type: 'column'
        },
        data: {
					rows: csv.data,
					seriesMapping: [{
							//  x: 0, // X values are pulled from column 0 by default
							//  y: 1, // Y values are pulled from column 1 by default
							name: 2,
							label: 3 // Labels are pulled from column 2 and picked up in the dataLabels.format below
					}]
        },
        title: {
            text: 'Projected Sales Overall'
        },
				subtitle: {
    				text: 'Model S, 3, X'
				},
        yAxis: {
            title: {
                text: 'Deliveries'
            }
        },
				xAxis: {
					title: {
						text: 'Quarter'
					}
				},
				plotOptions: {
            series: {
								name: '{point.name}',
                dataLabels: {
										rotation: 100,
										align: 'left',
                    enabled: true,
                    format: '{point.label}'
                }
            }
        }
    };

		// Create the chart
		var chart = new Highcharts.Chart(options);

});

</script>
