<div class="posts">
<!-- index of posts -->

	{% if paginator.page == 1 %}
		<div class="first-vid">
		<!-- just the first post -->
		{% include first-video.html %}
		</div>

		{% for post in paginator.posts offset:1 limit:6 %}
				<article class="post-index">
						<a href="{{ site.baseurl }}{{ post.url }}"><img class="post-image" src="{{ site.baseurl }}{{post.image}}" /></a>
						<div class="post-title-index"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>

				</article>
		{% endfor %}

		{% else %}

		{% for post in paginator.posts %}
				<article class="post-index">
						<a href="{{ site.baseurl }}{{ post.url }}"><img class="post-image" src="{{ site.baseurl }}{{post.image}}" /></a>
						<div class="post-title-index"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>

				</article>
		{% endfor %}

	{% endif %}

  <!-- {% for post in paginator.posts offset:1 %}
      <article class="post-index">
          <a href="{{ site.baseurl }}{{ post.url }}"><img class="post-image" src="{{ site.baseurl }}{{post.image}}" /></a>
          <div class="post-title-index"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>

      </article>
  {% endfor %} -->
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
