body {
  background: $darkGray;
  font: 16px/1.5 $helvetica;
  color: $lightGray;
}

body.custom-background {
    background-image: url('../images/Teslanomics-Background-Grayscale-SF.jpg');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.entry {
  overflow: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $lightGray;
  // font-weight: bold;
  font-weight: 300;

  line-height: 110%;
  margin: 20px;
  padding: 0;

  @include mobile {
    line-height: 100%;		
  }
}

h1 {
  font-size: 32px;
  font-weight: 300;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  font-size: 16px;
}

a {
  color: $white;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $orange;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $lightGray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  // margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 300px;
  height: 37px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.sidebar-avatar {
  float: left;
  width: 100%;
  padding:10px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    width:75%;
  }

  img {
    border-radius: 50%;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $lightGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: 10px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}


nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $lightGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $white;
    }
  }
}

//
// .main
//

// custom index by ben sullins 2016-10-22


.post-image {
  width:100%;
  // max-height: 150px;
}

.post-index {
  width: 31%;
  float:left;
  margin: 10px 1%;
  min-height: 260px;
  position: relative;
  overflow: auto;
  display:block;

  @media (max-width: 767px) {
   width: 100%;
   }

}


.post-title-index {
  width: 100%;
  overflow: auto;
}


.posts {
  width: 100%;
  float:left;
  // column layout
  // -moz-column-count: 4;
  // -webkit-column-count: 4;
  // column-count: 4;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    width: 100%;
  }


}

.posts > .post {
  // padding-bottom: 2em; // bsullins removed 2016-10-11
  border-bottom: 1px solid $lightGray;
  min-height:250px;
  width:100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  overflow:auto;
  float:left;
}


.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  //trying to add sidebar
  width:100%;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $darkGray;
}

footer {
  padding: 20px 0;
  text-align: center;

  p {
    font-size: 12px;
    color: $gray;
  }
}


.sidebar {
  // font-size: 14px;
  float:left;
  padding: 20px;
  width: 25%;
  border-left: 1px solid $lightGray;
  p {
    font-size: 14px;
    line-height: 26px;
  }

  @include mobile {
    // font-size:70%;
    float: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }

}

.about-image {
  float:right;

  @include mobile {
    float:none;
  }
}

#soundcloud-embed{
  margin-top: 10px;
}
