<!DOCTYPE html>
<html>
  <head>

    {% include head.html%}

  <body class="custom-background">
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
					<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <nav>
            <a href="{{ site.baseurl }}/">Episodes</a>
            <a href="{{ site.baseurl }}/about">About</a>
						<a href="{{ site.baseurl }}/contact">Contact</a>
          </nav>
        </header>
      </div>
    </div>

		<div id="main" role="main" class="container">
			{{ content }}
		</div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
		{% include optin.html %}

      <!-- JS -->
  <!-- inject:js -->
  <script src="/assets/javascript/index.min.js"></script>
  <!-- endinject -->
      
  </body>
</html>
