<!DOCTYPE html>
<html>
  <head>

		<meta http-equiv="refresh" content="0; url={{ page.redirect_to }}">

    {% include head.html%}

  <body class="custom-background">
<div class="susy">

  {% include header.html %}

		<div id="main" role="main" class="container">
			{{ content }}
			{% include ellipsis.css %}
		</div>


    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>


</div>
		{% include optin.html %}

      <!-- JS -->
  <!-- inject:js -->
  <script src="/scripts/main.min.js"></script>
  <!-- endinject -->

  </body>
</html>
